%desc-10
{
  font-family: $font-italiana;
  font-size: 1.0rem;
}

%desc-12
{
  font-family: $font-italiana;
  font-size: 1.2rem;
}

%desc-14
{
  font-family: $font-italiana;
  font-size: 1.4rem;
}

%desc-16
{
  font-family: $font-italiana;
  font-size: 1.6rem;
}

%desc-18
{
  font-family: $font-italiana;
  font-size: 1.8rem;
}

%desc-20
{
  font-family: $font-italiana;
  font-size: 2.0rem;
}

%desc-25
{
  font-family: $font-italiana;
  font-size: 2.5rem;
}

%desc-30
{
  font-family: $font-italiana;
  font-size: 3.0rem;
}

%desc-40
{
  font-family: $font-italiana;
  font-size: 4.0rem;
}

%desc-50
{
  font-family: $font-italiana;
  font-size: 5.0rem;
}

%desc-100
{
  font-family: $font-italiana;
  font-size: 10.0rem;
}
